<label>Enter a message:</label>
<input type="text" name="text-box" id="message-input">
<button type="submit" id="send-button">Submit</button>

<div id="message-area">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    // var message = ;
    var socket = io();
    socket.on('message', function(msg){
        let html = '<div>';
            html += '<p>' + msg + '</p></div>';
        document.querySelector('#message-area').innerHTML += html;
    });
    document.getElementById('send-button').onclick = function(e) {
        e.preventDefault();
        socket.emit('message', document.getElementById('message-input').value);
        document.getElementById('message-input').value = '';
        return false;
    };
</script>